<div class="grid gap-4 w-full font-semibold">
  <button class="bg-green-400 py-4 rounded-lg" routerLink="stocks" i18n="@@stockCD">Stock / CD</button>
  <button class="bg-gray-400 py-4 rounded-lg" routerLink="housing" i18n="@@housing">Housing</button>
  <button class="bg-yellow-900 py-4 rounded-lg text-white" routerLink="land" i18n="@@land">Land</button>
  <button class="bg-purple-400 py-4 rounded-lg" routerLink="business" i18n="@@business">Business</button>
  <button class="bg-yellow-500 py-4 rounded-lg" routerLink="gold" i18n="@@gold">Gold</button>
</div>