<div class="grid grid-cols-2 gap-4 w-full font-semibold">
  <button class="bg-yellow-400 py-4 rounded-lg" (click)="payday()" i18n="@@payday">Payday!</button>
  <button class="bg-green-500 py-4 rounded-lg" i18n="@@bigSmallDeals">Big/Small Deals</button>
  <button class="bg-blue-400 py-4 rounded-lg" i18n="@@market">Market</button>
  <button class="bg-red-500 py-4 rounded-lg" routerLink="doodads" i18n="@@doodads">Doodads</button>
  <button class="bg-purple-500 py-4 rounded-lg" (click)="doCharity()" i18n="@@charity">Charity</button>
  <button class="bg-pink-400 py-4 rounded-lg" (click)="addChild()" i18n="@@baby">Baby</button>
  <button class="bg-red-500 py-4 rounded-lg" (click)="downsize()" i18n="@@downsized">Downsized</button>
  <button class="bg-green-400 py-4 rounded-lg" routerLink="cash" i18n="@@cashAdjustment">Cash Adjustment</button>
  <button class="bg-blue-500 py-4 rounded-lg" routerLink="payoff" i18n="@@payOff">Pay Off</button>
  <button class="bg-orange-400 py-4 rounded-lg" routerLink="loan" i18n="@@takeOutALoan">Take Out A Loan</button>
</div>