<div class="grid grid-cols-2 gap-4 w-full">
  <button class="bg-yellow-400 py-4 rounded-lg" (click)="payday()">Payday!</button>
  <button class="bg-green-500 py-4 rounded-lg">Big/Small Deals</button>
  <button class="bg-blue-400 py-4 rounded-lg">Market</button>
  <button class="bg-red-500 py-4 rounded-lg">Doodads</button>
  <button class="bg-purple-500 py-4 rounded-lg">Charity</button>
  <button class="bg-pink-400 py-4 rounded-lg">Baby</button>
  <button class="bg-red-500 py-4 rounded-lg">Downsized</button>
  <button class="bg-green-400 py-4 rounded-lg">Cash Adjustment</button>
  <button class="bg-blue-500 py-4 rounded-lg">Pay Off</button>
  <button class="bg-blue-400 py-4 rounded-lg">Take Out A Loan</button>
</div>