<div class="grid grid-cols-2 gap-4 w-full font-semibold">
  <button class="bg-yellow-400 py-4 rounded-lg" (click)="payday()" i18n="@@payday">Payday!</button>

  @if (isFastTrackView$ | async) {
    <button class="bg-green-700 py-4 rounded-lg" routerLink="deals/business/buy" i18n="@@business">Business</button>
    <button class="bg-purple-500 py-4 rounded-lg" (click)="doFastTrackCharity()" i18n="@@charity">Charity</button>
    <button class="bg-blue-400 py-4 rounded-lg" i18n="@@dream">Dream</button>
    <button class="bg-red-500 py-4 rounded-lg text-white" (click)="loseHalfCash()" i18n="@@loseHalfTheCash">Lose half the cash</button>
    <button class="bg-black py-4 rounded-lg text-white" (click)="loseAllCash()" i18n="@@loseAllCash">Lose all cash</button>
    <button class="bg-green-400 py-4 rounded-lg" routerLink="cash" i18n="@@cashAdjustment">Cash Adjustment</button>
    <button class="bg-blue-600 py-4 rounded-lg text-white capitalize" (click)="switchRatRace()" i18n="@@ratRaceData">Rat race data</button>

  } @else {
    <button class="bg-green-500 py-4 rounded-lg" routerLink="deals" i18n="@@bigSmallDeals">Big/Small Deals</button>
    <button class="bg-blue-400 py-4 rounded-lg" routerLink="market" i18n="@@market">Market</button>
    <button class="bg-red-500 py-4 rounded-lg" routerLink="doodads" i18n="@@doodads">Doodads</button>
    <button class="bg-purple-500 py-4 rounded-lg" (click)="doCharity()" i18n="@@charity">Charity</button>
    <button class="bg-pink-400 py-4 rounded-lg" (click)="addChild()" i18n="@@baby">Baby</button>
    <button class="bg-red-500 py-4 rounded-lg" (click)="downsize()" i18n="@@downsized">Downsized</button>
    <button class="bg-green-400 py-4 rounded-lg" routerLink="cash" i18n="@@cashAdjustment">Cash Adjustment</button>
    <button class="bg-blue-500 py-4 rounded-lg" routerLink="payoff" i18n="@@payOff">Pay Off</button>
    <button class="bg-orange-400 py-4 rounded-lg" routerLink="loan" i18n="@@takeOutALoan">Take Out A Loan</button>
  }

</div>