<header class="sticky top-0 bg-blue-500 text-white p-4 shadow-md">
  <div class="container mx-auto flex items-center justify-center relative">

    @if (showBackButton) {
    <!-- Back button -->
    <button class="p-2 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 absolute left-2.5"
            (click)="navigateBack()">
      <span class="icon-back px-1 text-lg"></span>
    </button>
    } @else {
      <div></div>
    }

    <!-- Page title -->
    <h1 class="text-xl font-bold capitalize">{{ title }}</h1>

    <div class="absolute top-0 right-0">
      <app-language-toggle></app-language-toggle>
    </div>
  </div>
</header>