<div class="bg-blue-800 p-2 mt-4 font-bold text-white" i18n="@@summary">Summary</div>

<div class="flex justify-between items-center my-4">
  <span i18n="@@salary">Salary</span>
  <span class="w-1/2">$ {{ professionSummary.salary }}</span>
</div>

<div class="flex justify-between items-center my-4 capitalize">
  <span i18n="@@passiveIncome">Passive income</span>
  <span class="w-1/2">$ {{ professionSummary.passiveIncome }}</span>
</div>

<div class="flex justify-between items-center my-4">
  <span i18n="@@monthlyIncome">Monthly Income</span>
  <span class="w-1/2">$ {{ professionSummary.monthlyIncome }}</span>
</div>

<div class="flex justify-between items-center my-4">
  <span i18n="@@totalExpenses">Total Expenses</span>
  <span class="w-1/2">$ {{ professionSummary.totalExpenses }}</span>
</div>

<div class="flex justify-between items-center my-4 capitalize">
  <span i18n="@@monthlyCashFlow">Monthly cash flow</span>
  <span class="w-1/2">$ {{ professionSummary.monthlyCashFlow }}</span>
</div>