<app-sell-asset>
  <ng-container *ngIf="asset$ | async as asset">
    <div class="flex justify-between items-center my-4 mx-2">
      <span i18n="@@housing">Housing</span>
      <span class="w-1/2">{{asset.name}}</span>
    </div>

    <div class="flex justify-between items-center my-4 mx-2">
      <span i18n="@@cost">Cost</span>
      <span class="w-1/2">$ {{asset.value}}</span>
    </div>

    <div class="flex justify-between items-center my-4 mx-2">
      <span class="capitalize" i18n="@@downPayment">Down payment</span>
      <span class="w-1/2">$ {{asset.downPayment}}</span>
    </div>

    <div class="flex justify-between items-center my-4 mx-2">
      <span i18n="@@cashFlow">Cash Flow</span>
      <span class="w-1/2">$ {{asset.cashflow}}</span>
    </div>

    <div class="flex justify-between items-center my-4 mx-2">
      <span i18n="@@mortgage">Mortgage</span>
      <span class="w-1/2">$ {{asset.value - asset.downPayment}}</span>
    </div>
  </ng-container>
</app-sell-asset>