<div class="p-4">
  @if (completed()) {
    <div class="mb-2" i18n="@@progressBarCompletedStatus">
      ${{value() | number}} / ${{maxValue() | number}} (completed)
    </div>

    <div class="bg-blue-600 h-2 w-full rounded">
      <div class="bg-green-400 h-full rounded" [style.width]="'100%'"></div>
    </div>
  } @else {
    <div class="mb-2" i18n="@@progressBarStatus">
      ${{value() | number}} / ${{maxValue() | number}} (${{maxValue() - value() | number}} to go)
    </div>

    <div class="bg-blue-600 h-2 w-full rounded">
      <div class="bg-blue-300 h-full rounded" [style.width]="progress + '%'"></div>
    </div>
  }

</div>