<app-session-cash-summary></app-session-cash-summary>

<ng-container *ngIf="asset$ | async as asset">
    <div class="flex justify-between items-center my-4 mx-2">
      <span i18n="@@name">Name</span>
      <span class="w-1/2">{{asset.name}}</span>
    </div>

    <div class="flex justify-between items-center my-4 mx-2">
      <span i18n="@@cost">Cost</span>
      <span class="w-1/2">$ {{asset.value}}</span>
    </div>

    <div class="flex justify-between items-center my-4 mx-2 capitalize">
      <span i18n="@@downPayment">Down payment</span>
      <span class="w-1/2">$ {{asset.downPayment}}</span>
    </div>

    <div class="flex justify-between items-center my-4 mx-2 capitalize">
      <span i18n="@@cashFlow">Cash flow</span>
      <span class="w-1/2">$ {{asset.cashflow}}</span>
    </div>

    <div class="flex justify-between items-center my-4 mx-2">
      <span i18n="@@mortgage">Mortgage</span>
      <span class="w-1/2">$ {{asset.value - asset.downPayment}}</span>
    </div>
</ng-container>

<app-divider></app-divider>

<div class="flex justify-between items-center my-4 mx-2">
  <div class="flex justify-between w-1/2 capitalize">
    <label i18n="@@cashflowChangeBy">Cashflow change by</label>
    <span class="mr-2">$</span>
  </div>
  <input type="number" [formControl]="cashflowForm" class="w-1/2 p-2 rounded outline outline-1">
</div>

<div class="flex mt-4">
  <app-button class="w-full" color="green" [disabled]="cashflowForm.invalid" (click)="update(cashflowForm.value)" i18n="@@increase">Increase</app-button>
  <app-button class="w-full ml-2" color="red" [disabled]="cashflowForm.invalid" (click)="update(-cashflowForm.value)" i18n="@@decrease">Decrease</app-button>
</div>
