<a routerLink="/" class="flex justify-end items-center px-4 py-3 hover:bg-gray-100 transition-colors">
    <span i18n="@@home">Home</span>
    <span class="material-symbols-outlined ml-3">home</span>
</a>
<button class="flex items-center justify-end px-4 py-3 hover:bg-gray-100 transition-colors w-full" (click)="toggleLanguage()">
    <span i18n="@@switchLanguage">Switch language</span>
    <span class="material-symbols-outlined ml-3">globe</span>
</button>
<button class="flex items-center justify-end px-4 py-3 hover:bg-gray-100 transition-colors w-full">
    <span i18n="@@clearAllData">Clear all data</span>
    <span class="material-symbols-outlined ml-3">cancel</span>
</button>
<a routerLink="" class="flex items-center justify-end px-4 py-3 hover:bg-gray-100 transition-colors">
    <span i18n="@@sendFeedbacksReportIssues">Send feedbacks/Report issues</span>
    <span class="material-symbols-outlined ml-3">message</span>
</a>
<a routerLink="" class="flex items-center justify-end px-4 py-3 hover:bg-gray-100 transition-colors">
    <span i18n="@@about">About</span>
    <span class="material-symbols-outlined ml-3">info</span>
</a>