<section class="flex flex-col items-center justify-center p-4 space-y-6">
  <app-button class="w-full" routerLink="/sessions/new">
    <span class="material-symbols-outlined mr-1">add</span>
    <span i18n="@@newSession">New session</span>
  </app-button>

  <app-divider>
    <span class="flex-shrink mx-4 text-gray-500 text-sm sm:text-base" i18n="@@or">OR</span>
  </app-divider>

  <app-button class="w-full" routerLink="/sessions">
    <span class="material-symbols-outlined mr-1">settings</span>
    <span i18n="@@manageSession">Manage session</span>
  </app-button>

  <app-sessions-list class="w-full"></app-sessions-list>
</section>