<section class="flex flex-col items-center justify-center p-4 space-y-4 sm:space-y-6">
  <app-button routerLink="/sessions/new">
    <span i18n="@@newSession">New session</span>
  </app-button>

  <div class="flex items-center w-full">
    <div class="flex-grow border-t border-gray-300"></div>
    <span class="flex-shrink mx-4 text-gray-500 text-sm sm:text-base">OR</span>
    <div class="flex-grow border-t border-gray-300"></div>
  </div>

  <app-button routerLink="/sessions">
    <span i18n="@@manageSession">Manage session</span>
  </app-button>
</section>