<app-session-cash-summary></app-session-cash-summary>

<div [formGroup]="mainForm" class="space-y-4 p-4">
  <div class="flex justify-between items-center">
    <div class="flex justify-between w-1/2">
      <ng-content select="label"></ng-content>
    </div>
    <ng-content select="[assetNameControl]"></ng-content>
  </div>

  <div class="flex justify-between items-center">
    <div class="flex justify-between w-1/2">
      <label i18n="@@cost">Cost</label>
      <span class="mr-2">$</span>
    </div>
    <input type="number" formControlName="cost" class="w-1/2 p-2 rounded outline outline-1">
  </div>
  
  @if (!(isFastTrackAction$ | async)) {
    <div class="flex justify-between items-center">
      <div class="flex justify-between w-1/2 capitalize">
        <label i18n="@@downPayment">Down payment</label>
        <span class="mr-2">$</span>
      </div>
      <input type="number" formControlName="downPayment" class="w-1/2 p-2 rounded outline outline-1">
    </div>
  }

  <div class="flex justify-between items-center">
    <div class="flex justify-between w-1/2 capitalize">
      <label i18n="@@cashFlow">Cash flow</label>
      <span class="mr-2">$</span>
    </div>
    <input type="number" formControlName="cashFlow" class="w-1/2 p-2 rounded outline outline-1">
  </div>
</div>

<app-divider></app-divider>

<div class="flex justify-between items-center p-4 font-bold">
  <div class="flex justify-between w-1/2">
    <span i18n="@@totalPayment">Total payment</span>
    <span class="mr-2">$</span>
  </div>
  <div class="w-1/2">{{totalPayment | number}}</div>
</div>

@if (isFastTrackAction$ | async) {
  <div class="my-4">
    <app-button [disabled]="!mainForm?.valid" (click)="submitFastTrack()"><span i18n="@@confirm">Confirm</span></app-button>
  </div>
} @else {
  <div class="flex justify-between items-center p-4">
    <div class="flex justify-between w-1/2">
      <span i18n="@@mortgage">Mortgage</span>
      <span class="mr-2">$</span>
    </div>
    <div class="w-1/2">{{mortgage | number}}</div>
  </div>

  <div class="my-4">
    <app-button [disabled]="!mainForm?.valid" (click)="submit()"><span i18n="@@confirm">Confirm</span></app-button>
  </div>
}